<form [formGroup]="filterForm">
        <div class="row align-items-end">
          <div class="col">
            <label class="form-label">Name:</label>
            <input 
              type="text" 
              class="form-control" 
              placeholder="Product name" 
              formControlName="name"
            >
          </div>
          <div class="col">
            <label class="form-label">Min Price:</label>
            <input 
              type="number" 
              class="form-control" 
              formControlName="minPrice"
              [class.is-invalid]="filterForm.get('minPrice')?.invalid"
            >
          </div>
          <div class="col">
            <label class="form-label">Max Price:</label>
            <input 
              type="number" 
              class="form-control" 
              formControlName="maxPrice"
              [class.is-invalid]="filterForm.get('maxPrice')?.invalid"
            >
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>