<div class="container-fluid mt-5">
  <div class="row">
    <div class="col">
      <form>
        <div class="row align-items-end">
          <div class="col">
            <label class="form-label">Name:</label>
            <input type="text" class="form-control" placeholder="Product name">
          </div>
          <div class="col">
            <label class="form-label">Min Price:</label>
            <input type="number" class="form-control">
          </div>
          <div class="col">
            <label class="form-label">Max Price:</label>
            <input type="number" class="form-control">
          </div>
          <div class="col">
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>

      <div class="row row-cols-1 row-cols-md-4 g-6 mt-5">
        @for(product of products(); track product.id){
          <div class="col">   
             <app-product-card [product]="product" [vat]="0.22"></app-product-card>
          </div>
        }
      </div>
    </div>
    <div class="col side-cart">
      <app-side-cart [items]="cart()" [vat]="0.22"></app-side-cart>
    </div>
  </div>
</div>